.switch-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.switch-container {
  width: 38px;
  height: 20px;
  background: #8891a7;
  border-radius: 999px;
  padding: 2px;
  position: relative;
}

.switch-knob {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  transition: 0.25s;
}

.dark-mode {
  --color-bg-primary: #0f172a;
  --color-text-primary: #ffffff;
}

.light-mode {
  --color-bg-primary: #ffffff;
  --color-text-primary: #000000;
}
